.full-card{
  grid-row: 1;
}


.img-background{
  display: grid;
  grid-template-columns: auto;
  background-color: #fff;
  color: #444;
  position: relative;
}

.info-card{
  position: absolute;
}
.full-body{

  display: grid;
  grid-template-rows: 400px 200px;
  background-color: #fff;
}
.card-content{
  position: absolute;
  top: 58%;
}

.background-infoCard{
  width: 93%;
  height: 82%;
  top: 14%;
  position: absolute;
  left: 10px;
  background: url("/assets/photo1.jpg");
  opacity: 0.4;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  border-radius: 16px;
  border-radius: 11px;
}
.card-content{
  background: rgba(255,255,255,0.2);
  border-radius: 4px;
  top: 64%;
  width: 95%;
  left: 2.5%;


  h1{
    font-size: 23px;
    color: #fff;
    margin-left: -10px;
  }
  p{
    font-size: 14px;
    color: #fff;
    margin-left: -10px;
  }
}

.understairs{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  padding-left: 10px;
}
.br{

  margin: 0px !important;
}